.formCont{
    padding-left : 150px;
    padding-bottom : 30px;
    padding-right : 150px;
}
.formcontT{
	 padding-left : 150px
}

.formCont1{
    padding-left : 150px;
    padding-bottom : 30px;
    padding-right : 150px;
}
.formcontT1{
	 padding-left : 150px
}
.test{
	margin-top : -100px;
}
.cn{
	padding-left : 150px;
    padding-bottom : 30px;
    padding-right : 150px !important;
}